# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtualenv
venv/
.env
*.env

# Django
db.sqlite3
media/
staticfiles/
static/

# PyCharm / IDE
.idea/
.vscode/

# OS
.DS_Store

# Docker
*.log
*.pid
*.seed
*.bak
*.swp
*.swo
*.tmp
*.lock
